In [736]:
import pandas as pd
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

# splitting dataset

In [737]:
df = pd.read_csv(r"C:\Users\Alexander\PycharmProjects\gates\train.csv")
df_test=pd.read_csv(r"C:\Users\Alexander\PycharmProjects\gates\test.csv")
df_lag=pd.read_csv(r'C:\Users\Alexander\PycharmProjects\gates\submit_lag.csv')

In [738]:
df_lag

      row_id  target
0      37518       3
1      37519       3
2      37520      15
3      37521      15
4      37522      18
...      ...     ...
7120   44638      19
7121   44639      19
7122   44640      19
7123   44641      54
7124   44642      54

[7125 rows x 2 columns]

In [739]:
date = pd.to_datetime(df["timestamp"])

In [740]:
df['date']=date
df.drop('timestamp',axis=1,inplace=True)
df.drop('row_id',axis=1,inplace=True)

In [744]:
hour = df["date"].dt.hour
minute = df["date"].dt.minute
day = df["date"].dt.day
month = df["date"].dt.month
day_of_week_num = df["date"].dt.strftime("%w")
day_of_week = df["date"].dt.day_name()

In [745]:
df['lag']=df['user_id'].shift(1)
df["hour"] = hour
df["minute"] = minute
df["day"] = day
df["month"] = month
df["day_of_week_num"] = day_of_week_num
df["day_of_week"] = day_of_week

In [746]:
date = pd.to_datetime(df_test["timestamp"])
df_test['date']=date

In [747]:

hour = df_test["date"].dt.hour
minute = df_test["date"].dt.minute
day = df_test["date"].dt.day
month = df_test["date"].dt.month
day_of_week_num = df_test["date"].dt.strftime("%w")
day_of_week = df_test["date"].dt.day_name()

In [749]:
df_test['lag']=df_lag['target'].shift(1)
df_test["hour"] = hour
df_test["minute"] = minute
df_test["day"] = day
df_test["month"] = month
df_test["day_of_week_num"] = day_of_week_num
df_test["day_of_week"] = day_of_week

In [751]:

df_test.drop(['date'],axis=1,inplace=True)

# df clear

In [752]:
df_clear=pd.read_csv(r'C:\Users\Alexander\PycharmProjects\gates\filtered_data.csv')

In [753]:
date = pd.to_datetime(df_clear["date"])
df_clear['date']=date

In [754]:
hour = df_clear["date"].dt.hour
minute = df_clear["date"].dt.minute
day = df_clear["date"].dt.day
month = df_clear["date"].dt.month
day_of_week_num = df_clear["date"].dt.strftime("%w")
day_of_week = df_clear["date"].dt.day_name()

In [755]:
df_clear["hour"] = hour
df_clear["minute"] = minute
df_clear["day"] = day
df_clear["month"] = month
df_clear["day_of_week_num"] = day_of_week_num
df_clear["day_of_week"] = day_of_week

In [756]:
df_clear['date']=date

df_clear.drop(['date'],axis=1,inplace=True)

In [757]:
df_clear

,Unnamed: 0,user_id,gate_id,hour,minute,day,month,day_of_week_num,day_of_week
0,0,18,7,9,8,29,7,5,Friday
1,5,18,10,9,10,29,7,5,Friday
2,6,18,11,9,32,29,7,5,Friday
3,9,1,7,9,33,29,7,5,Friday
4,14,18,10,9,34,29,7,5,Friday
...,...,...,...,...,...,...,...,...,...
13664,37495,54,11,19,46,30,12,5,Friday
13665,37500,29,11,20,34,30,12,5,Friday
13666,37507,6,7,17,19,31,12,6,Saturday
13667,37512,6,10,17,21,31,12,6,Saturday
13668,37513,6,11,20,38,31,12,6,Saturday

In [758]:
df

,user_id,gate_id,date,lag,hour,minute,day,month,day_of_week_num,day_of_week
0,18,7,2022-07-29 09:08:54,NaN,9,8,29,7,5,Friday
1,18,9,2022-07-29 09:09:54,18.0,9,9,29,7,5,Friday
2,18,9,2022-07-29 09:09:54,18.0,9,9,29,7,5,Friday
3,18,5,2022-07-29 09:10:06,18.0,9,10,29,7,5,Friday
4,18,5,2022-07-29 09:10:08,18.0,9,10,29,7,5,Friday
...,...,...,...,...,...,...,...,...,...,...
37513,6,11,2022-12-31 20:38:56,6.0,20,38,31,12,6,Saturday
37514,6,6,2022-12-31 20:39:22,6.0,20,39,31,12,6,Saturday
37515,6,6,2022-12-31 20:39:23,6.0,20,39,31,12,6,Saturday
37516,6,9,2022-12-31 20:39:31,6.0,20,39,31,12,6,Saturday
37517,6,9,2022-12-31 20:39:31,6.0,20,39,31,12,6,Saturday

In [759]:
df_test

,row_id,timestamp,gate_id,lag,hour,minute,day,month,day_of_week_num,day_of_week
0,37518,2023-01-03 08:21:00,9,NaN,8,21,3,1,2,Tuesday
1,37519,2023-01-03 08:21:00,9,3.0,8,21,3,1,2,Tuesday
2,37520,2023-01-03 08:21:18,5,3.0,8,21,3,1,2,Tuesday
3,37521,2023-01-03 08:21:19,5,15.0,8,21,3,1,2,Tuesday
4,37522,2023-01-03 08:21:39,10,15.0,8,21,3,1,2,Tuesday
...,...,...,...,...,...,...,...,...,...,...
7120,44638,2023-02-24 19:43:36,11,14.0,19,43,24,2,5,Friday
7121,44639,2023-02-24 19:44:00,4,19.0,19,44,24,2,5,Friday
7122,44640,2023-02-24 19:44:01,4,19.0,19,44,24,2,5,Friday
7123,44641,2023-02-24 19:44:09,9,19.0,19,44,24,2,5,Friday
7124,44642,2023-02-24 19:44:09,9,54.0,19,44,24,2,5,Friday

In [761]:
x=df[['gate_id', 'hour', 'minute', 'day', 'month', 'day_of_week_num','day_of_week','lag']]
y=df['user_id']
x

       gate_id  hour  minute  day  month day_of_week_num day_of_week   lag
0            7     9       8   29      7               5      Friday   NaN
1            9     9       9   29      7               5      Friday  18.0
2            9     9       9   29      7               5      Friday  18.0
3            5     9      10   29      7               5      Friday  18.0
4            5     9      10   29      7               5      Friday  18.0
...        ...   ...     ...  ...    ...             ...         ...   ...
37513       11    20      38   31     12               6    Saturday   6.0
37514        6    20      39   31     12               6    Saturday   6.0
37515        6    20      39   31     12               6    Saturday   6.0
37516        9    20      39   31     12               6    Saturday   6.0
37517        9    20      39   31     12               6    Saturday   6.0

[37518 rows x 8 columns]

In [762]:
x_test=df_test[['gate_id', 'hour', 'minute', 'day', 'month', 'day_of_week_num','day_of_week','lag']]

x_test

      gate_id  hour  minute  day  month day_of_week_num day_of_week   lag
0           9     8      21    3      1               2     Tuesday   NaN
1           9     8      21    3      1               2     Tuesday   3.0
2           5     8      21    3      1               2     Tuesday   3.0
3           5     8      21    3      1               2     Tuesday  15.0
4          10     8      21    3      1               2     Tuesday  15.0
...       ...   ...     ...  ...    ...             ...         ...   ...
7120       11    19      43   24      2               5      Friday  14.0
7121        4    19      44   24      2               5      Friday  19.0
7122        4    19      44   24      2               5      Friday  19.0
7123        9    19      44   24      2               5      Friday  19.0
7124        9    19      44   24      2               5      Friday  54.0

[7125 rows x 8 columns]

# model 1
added dummies

In [881]:
#x_test['gate']=x_test['gate_id']
x_test_d=pd.get_dummies(x_test,columns=['day_of_week','hour','gate_id','minute','lag'])
x_test_d.drop(['hour_0','hour_1','hour_3'],axis=1,inplace=True)
#x['gate']=x['gate_id']
x_d=pd.get_dummies(x,columns=['day_of_week','hour','gate_id','minute','lag'])
x_d.drop(['hour_6'],axis=1,inplace=True)

In [848]:
x_d

,day,month,day_of_week_num,day_of_week_Friday,day_of_week_Monday,day_of_week_Saturday,day_of_week_Sunday,day_of_week_Thursday,day_of_week_Tuesday,day_of_week_Wednesday,...,lag_48.0,lag_49.0,lag_50.0,lag_51.0,lag_52.0,lag_53.0,lag_54.0,lag_55.0,lag_56.0,lag_57.0
0,29,7,5,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,29,7,5,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,29,7,5,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,29,7,5,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,29,7,5,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37513,31,12,6,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
37514,31,12,6,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
37515,31,12,6,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
37516,31,12,6,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
37517,31,12,6,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [850]:
#x_clear_d.drop('hour_6',axis=1,inplace=True)

In [851]:
#x_clear_d.drop(['gate_id_0','gate_id_16'],axis=1,inplace=True)

In [852]:
x_d.drop(['gate_id_0','gate_id_16'],axis=1,inplace=True)

In [884]:
x_test_d.drop(['month','day'],axis=1,inplace=True)

In [886]:
x_test_d.drop('day_of_week_num',axis=1,inplace=True)

In [893]:
x_d.drop('day_of_week_num',axis=1,inplace=True)

In [857]:
#x_d.drop('gate',axis=1,inplace=True)

In [858]:
#x_test_d.drop('gate',axis=1,inplace=True)

In [897]:
x_test_d.drop(['gate_id_-1','gate_id_8','gate_id_9','gate_id_12'],axis=1,inplace=True)

# MInites

In [860]:
#x_d.drop('minute',axis=1,inplace=True)

In [861]:
#x_test_d.drop('minute',axis=1,inplace=True)

In [896]:
x_test_d.drop('gate_id_2',axis=1,inplace=True)

In [891]:
#x_d.drop('gate_id_16',axis=1,inplace=True)
#x_d.drop('gate_id_0',axis=1,inplace=True)
x_d.drop(['month','day'],axis=1,inplace=True)

In [864]:
#x_d['lag']=x_d['gate'].shift(1).fillna(value=1)

In [865]:
#x_test_d['lag']=x_test_d['gate'].shift(1).fillna(value=1)

In [866]:
#x_d.drop(['lag'],axis=1,inplace=True)

In [867]:
#x_test_d.drop(['lag'],axis=1,inplace=True)

In [868]:
x_d.columns
#x_test_d.columns

Index(['day_of_week_Friday', 'day_of_week_Monday', 'day_of_week_Saturday',
       'day_of_week_Sunday', 'day_of_week_Thursday', 'day_of_week_Tuesday',
       'day_of_week_Wednesday', 'hour_7', 'hour_8', 'hour_9',
       ...
       'lag_48.0', 'lag_49.0', 'lag_50.0', 'lag_51.0', 'lag_52.0', 'lag_53.0',
       'lag_54.0', 'lag_55.0', 'lag_56.0', 'lag_57.0'],
      dtype='object', length=155)

In [869]:
# model_clear=LogisticRegression(solver='saga',max_iter=759,random_state=2)
# model_clear.fit(x_clear_d,y_clear)
# print('Accurcay:',model_clear.score(x_clear_d,y_clear) )

In [872]:
x_d.fillna(value=1,inplace=True)

In [873]:
x_test_d.fillna(value=1,inplace=True)

In [901]:
x_d.drop(list(set(x_d.columns)-set(x_test_d.columns)),inplace=True,axis=1)

In [913]:
scaler=StandardScaler()
scaler.fit(x_d)
x_d_sc=scaler.transform(x_d)
scaler.fit(x_test_d)
x_test_d_sc=scaler.transform(x_test_d)

In [914]:
model_full=LogisticRegression(solver='saga',max_iter=800)
model_full.fit(x_d_sc,y)
print('Accuracy full:', model_full.score(x_d_sc,y))

Accuracy full: 0.6097873020949944

C:\Users\Alexander\PycharmProjects\gates\venv\Lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(

In [915]:
x_d

,day_of_week_Friday,day_of_week_Monday,day_of_week_Saturday,day_of_week_Sunday,day_of_week_Thursday,day_of_week_Tuesday,day_of_week_Wednesday,hour_7,hour_8,hour_9,...,lag_43.0,lag_46.0,lag_47.0,lag_48.0,lag_49.0,lag_50.0,lag_53.0,lag_54.0,lag_55.0,lag_57.0
0,True,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
1,True,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
2,True,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
3,True,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
4,True,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37513,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
37514,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
37515,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
37516,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
37517,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [916]:
x_test_d

,day_of_week_Friday,day_of_week_Monday,day_of_week_Saturday,day_of_week_Sunday,day_of_week_Thursday,day_of_week_Tuesday,day_of_week_Wednesday,hour_7,hour_8,hour_9,...,lag_43.0,lag_46.0,lag_47.0,lag_48.0,lag_49.0,lag_50.0,lag_53.0,lag_54.0,lag_55.0,lag_57.0
0,False,False,False,False,False,True,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,True,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,True,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,True,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,True,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7120,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7121,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7122,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7123,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7124,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False

In [917]:
predicted=model_full.predict(x_test_d_sc)

In [918]:
len(predicted)

7125

In [919]:
submit=pd.DataFrame(predicted)

In [920]:
submit.rename(columns={0:'target'},inplace=True)

In [921]:

submit['row_id']=range(37518,44643)

In [922]:
submit.reset_index(drop=True,inplace=True)
submit=submit[['row_id','target']]

In [923]:
submit.to_csv(r'C:\Users\Alexander\PycharmProjects\gates\submition.csv',index=False)

In [924]:
submit.columns

Index(['row_id', 'target'], dtype='object')